<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="row ID"/>
                <entry key="1" type="xstring" value="Class [kNN]"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="63"/>
                <entry key="0" type="xstring" value="n_tokens_title"/>
                <entry key="1" type="xstring" value="num_hrefs"/>
                <entry key="2" type="xstring" value="num_self_hrefs"/>
                <entry key="3" type="xstring" value="num_imgs"/>
                <entry key="4" type="xstring" value="num_videos"/>
                <entry key="5" type="xstring" value="average_token_length"/>
                <entry key="6" type="xstring" value="num_keywords"/>
                <entry key="7" type="xstring" value="data_channel_is_lifestyle"/>
                <entry key="8" type="xstring" value="data_channel_is_entertainment"/>
                <entry key="9" type="xstring" value="data_channel_is_bus"/>
                <entry key="10" type="xstring" value="data_channel_is_socmed"/>
                <entry key="11" type="xstring" value="self_reference_min_shares"/>
                <entry key="12" type="xstring" value="self_reference_max_shares"/>
                <entry key="13" type="xstring" value="self_reference_avg_sharess"/>
                <entry key="14" type="xstring" value="weekday_is_monday"/>
                <entry key="15" type="xstring" value="weekday_is_tuesday"/>
                <entry key="16" type="xstring" value="weekday_is_wednesday"/>
                <entry key="17" type="xstring" value="weekday_is_thursday"/>
                <entry key="18" type="xstring" value="weekday_is_friday"/>
                <entry key="19" type="xstring" value="weekday_is_saturday"/>
                <entry key="20" type="xstring" value="weekday_is_sunday"/>
                <entry key="21" type="xstring" value="is_weekend"/>
                <entry key="22" type="xstring" value="global_subjectivity"/>
                <entry key="23" type="xstring" value="global_sentiment_polarity"/>
                <entry key="24" type="xstring" value="global_rate_positive_words"/>
                <entry key="25" type="xstring" value="global_rate_negative_words"/>
                <entry key="26" type="xstring" value="title_subjectivity"/>
                <entry key="27" type="xstring" value="title_sentiment_polarity"/>
                <entry key="28" type="xstring" value="abs_title_subjectivity"/>
                <entry key="29" type="xstring" value="abs_title_sentiment_polarity"/>
                <entry key="30" type="xstring" value="n_tokens_title [Binned]"/>
                <entry key="31" type="xstring" value="num_hrefs [Binned]"/>
                <entry key="32" type="xstring" value="num_self_hrefs [Binned]"/>
                <entry key="33" type="xstring" value="num_imgs [Binned]"/>
                <entry key="34" type="xstring" value="num_videos [Binned]"/>
                <entry key="35" type="xstring" value="average_token_length [Binned]"/>
                <entry key="36" type="xstring" value="num_keywords [Binned]"/>
                <entry key="37" type="xstring" value="data_channel_is_lifestyle [Binned]"/>
                <entry key="38" type="xstring" value="data_channel_is_entertainment [Binned]"/>
                <entry key="39" type="xstring" value="data_channel_is_bus [Binned]"/>
                <entry key="40" type="xstring" value="data_channel_is_socmed [Binned]"/>
                <entry key="41" type="xstring" value="self_reference_min_shares [Binned]"/>
                <entry key="42" type="xstring" value="self_reference_max_shares [Binned]"/>
                <entry key="43" type="xstring" value="self_reference_avg_sharess [Binned]"/>
                <entry key="44" type="xstring" value="weekday_is_monday [Binned]"/>
                <entry key="45" type="xstring" value="weekday_is_tuesday [Binned]"/>
                <entry key="46" type="xstring" value="weekday_is_wednesday [Binned]"/>
                <entry key="47" type="xstring" value="weekday_is_thursday [Binned]"/>
                <entry key="48" type="xstring" value="weekday_is_friday [Binned]"/>
                <entry key="49" type="xstring" value="weekday_is_saturday [Binned]"/>
                <entry key="50" type="xstring" value="weekday_is_sunday [Binned]"/>
                <entry key="51" type="xstring" value="is_weekend [Binned]"/>
                <entry key="52" type="xstring" value="global_subjectivity [Binned]"/>
                <entry key="53" type="xstring" value="global_sentiment_polarity [Binned]"/>
                <entry key="54" type="xstring" value="global_rate_positive_words [Binned]"/>
                <entry key="55" type="xstring" value="global_rate_negative_words [Binned]"/>
                <entry key="56" type="xstring" value="title_subjectivity [Binned]"/>
                <entry key="57" type="xstring" value="title_sentiment_polarity [Binned]"/>
                <entry key="58" type="xstring" value="abs_title_subjectivity [Binned]"/>
                <entry key="59" type="xstring" value="abs_title_sentiment_polarity [Binned]"/>
                <entry key="60" type="xstring" value="Popularity (Confidence)"/>
                <entry key="61" type="xstring" value="P (Popularity=High)"/>
                <entry key="62" type="xstring" value="P (Popularity=Low)"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.1.v202201171200"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
